<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <!--CONEXION TOMCAT-->
        <!--<property name="hibernate.connection.datasource">java:comp/env/poolPgWfcore</property>-->

        <property name="hibernate.connection.autocommit">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>

        <!-- Disable the second-level cache  -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
        <property name="hibernate.jdbc.batch_size">200</property>

        <!--<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JTATransactionFactory</property>-->
        <!--<property name="hibernate.transaction.manager_lookup_class">org.hibernate.transaction.JBossTransactionManagerLookup</property>-->

        <property name="hibernate.connection.CharSet">ISO-8859-1</property>
        <property name="hibernate.connection.characterEncoding">ISO-8859-1</property>

        <!-- DTO's -->
        <mapping class="com.acceso.wfcore.dtos.ConexionDTO"/>
        <mapping class="com.acceso.wfcore.dtos.DeleteDTO"/>
        <mapping class="com.acceso.wfcore.dtos.UsuarioDTO"/>
        <mapping class="com.acceso.wfcore.dtos.SistemaDTO"/>
        <mapping class="com.acceso.wfcore.dtos.SubSistemaDTO"/>
        <mapping class="com.acceso.wfcore.dtos.PaqueteDTO"/>
        <mapping class="com.acceso.wfcore.dtos.ModuloDTO"/>
        <mapping class="com.acceso.wfcore.dtos.MenuDTO"/>

        <!-- DTO's (security) -->
        <mapping class="com.acceso.security.dtos.RegsesiniDTO"/>
        <mapping class="com.acceso.security.dtos.PermisbloDTO"/>

        <!-- DTO's (Web) -->
        <mapping class="com.acceso.wfcore.dtos.SystemTreeDTO"/>
        <mapping class="com.acceso.wfweb.dtos.ContenedorDTO"/>
        <mapping class="com.acceso.wfweb.dtos.PaginaDTO"/>
        <mapping class="com.acceso.wfweb.dtos.TituloDTO"/>
        <mapping class="com.acceso.wfweb.dtos.RegistroDTO"/>
        <mapping class="com.acceso.wfweb.dtos.IdfraworDTO"/>
    </session-factory>
</hibernate-configuration>
