<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>THROWS_EXCEPTION</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>SHOW_PREQUERY</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.CLIENT_WINDOW_MODE</param-name>
        <param-value>none</param-value>
    </context-param>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.acceso.wfweb.filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MainFilter</filter-name>
        <filter-class>com.acceso.wfweb.filters.MainFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/main</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MainFilter</filter-name>
        <url-pattern>/wf</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.acceso.wfcore.listerners.WFCoreListener</listener-class>
    </listener>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>nova-light</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.level</param-name>
        <param-value>ERROR</param-value>
    </context-param>
    <context-param>
        <param-name>com.sun.faces.level</param-name>
        <param-value>ERROR</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSP Login</servlet-name>
        <jsp-file>/jsp_exec/login/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.acceso.wfweb.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JSP Main</servlet-name>
        <jsp-file>/jsp_exec/ocelot/main.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PaginaServlet</servlet-name>
        <servlet-class>com.acceso.wfweb.servlets.PaginaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessServlet</servlet-name>
        <servlet-class>com.acceso.wfweb.servlets.ValpagServlet</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>com.acceso.wfweb.servlets.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TahrServlet</servlet-name>
        <servlet-class>com.acceso.wfweb.servlets.OpenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSP Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login64</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/logout64</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaServlet</servlet-name>
        <url-pattern>/karmic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSP Main</servlet-name>
        <url-pattern>/main</url-pattern>
        <url-pattern>/wf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/vervet</url-pattern>
        <url-pattern>/doc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TahrServlet</servlet-name>
        <url-pattern>/tahr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessServlet</servlet-name>
        <url-pattern>/dingo</url-pattern>
        <url-pattern>/salamander</url-pattern>
        <url-pattern>/beaver</url-pattern>
        <url-pattern>/uxtion</url-pattern>
        <url-pattern>/pangolin</url-pattern>
        <url-pattern>/ocelot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>1500</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp_exec/ocelot/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/jsp_exec/ocelot/error.jsp</location>
    </error-page>
</web-app>
